.flexContainer{
    display: flex;
    justify-content: space-between;
}
#gameWindow{
    margin: 0 auto;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playgroundField{
    border: 1px solid gray;
    box-sizing: border-box;
}
.activeField{
    background-color: green;
}
#playground{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.buttons button{
    width: 120px;
}