*{
    font-family: 'Roboto', sans-serif;
}
.flexContainer{
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
#gameWindow{
    margin: 0 auto;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.playgroundField{
    background-color: white;
    border-radius: 3px;
    border: 2px solid lightgray;
    box-sizing: border-box;
    cursor: pointer;
}
#playground{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.buttons button{
    margin: 10px auto;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background: radial-gradient(circle, rgba(181,238,174,1) 0%, rgba(148,161,233,1) 100%); 
}
.disabled{
    pointer-events: none;
    opacity: 0.4;
}
.redText{
    font-weight: bold;
    color: red;
}
.markedField{
    background-color: #228B22;
}
.visible{
    visibility: visible;
}
.modal-body label{
    text-align: center;
    width: 100%;
}
.modal-footer button{
    margin: 0 auto;
}